@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #001e40;
  --color-primary-container: #003366;
  --color-primary-fixed: #d5e3ff;
  --color-on-primary-fixed: #001b3c;
  --color-surface: #f8f9fa;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f4f5;
  --color-surface-container: #edeeef;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-highest: #e1e3e4;
  --color-surface-tint: #3a5f94;
  --color-secondary: #525f75;
  --color-secondary-container: #d6e3fe;
  --color-on-secondary-container: #58657c;
  --color-outline: #737780;
  
  --font-headline: 'Manrope', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Inter', sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-surface);
  color: #191c1d;
  -webkit-font-smoothing: antialiased;
}

.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
